<!DOCTYPE html>
<html lang="cn">
<head>
{% load static %}
<title>主页</title>
<!-- custom-theme -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<style type="text/css">
    .tangram-suggestion-main {
        z-index: 999999;
    }
</style>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=O0plR0S4y8AsPSkgxkaTEtyMjaLHUOSU"></script>

<link href="{% static 'cp1/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" /><!-- bootstrap-css -->

<link href="{% static 'cp1/css/owl.carousel.css' %}" rel="stylesheet"><!-- Owl-carousel-CSS -->

<link href="{% static 'cp1/css/popup-box.css' %}" rel="stylesheet" type="text/css" media="all" /><!-- pop-up css --> 

<link href="{% static 'cp1/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />

<!-- banner css -->
<link rel="stylesheet" href="{% static 'cp1/css/poposlides.css' %}" type="text/css" media="all" />
<!-- //banner css -->

<!-- font-awesome-icons -->
<link rel="stylesheet" href="{% static 'cp1/css/font-awesome.min.css' %}" />
<!-- //font-awesome-icons -->

<!-- google fonts -->
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
<!-- //google fonts -->

</head>
	
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
 
<!--/main-header-->
<div class="demo-inner-content" id="home">
	<div class="main_agileits">
	<!--/banner-info-->
	<!-- header -->
		<div class="header-w3layouts"> 
			<!-- Navigation -->
			<nav class="navbar navbar-default navbar-fixed-top"> 
				<div class="container">
					<div class="navbar-header page-scroll">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Tourist</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<h1><a class="navbar-brand" href="home.html">智慧出行</a></h1>
					</div> 
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse navbar-ex1-collapse">
						<ul class="nav navbar-nav navbar-right cl-effect-15">
							<!-- Hidden li included to remove active class from about link when scrolled up past about section -->
							<li class="hidden"><a class="page-scroll" href="#page-top"></a>	</li>
							<li><a href="home.html">主页</a></li>
							<li><a href="about.html">关于我们</a></li>
							<li><a href="settings.html">高级选项</a></li>
							<li><a href="#testimonials">测试示例</a></li>
							<li><a href="update.html">更新计划</a></li>
							<li><a href="#contact">联系我们</a></li>
						</ul>
					</div>
					<!-- /.navbar-collapse -->
				</div>
				<!-- /.container -->
			</nav>  
		</div>	
		<!-- //header -->
	</div>
</div>
 <!--/banner-section-->

<!-- travel -->
<div class="travel">
	<div class="container">
		<h4>旅客行程智能推荐系统</h4>
		<h3>我们是北航计算机系“做题者联盟”小组</h3>
	</div>
</div>
<!-- /travel -->


<!-- agile_testimonials -->
	<div class="agile_testimonials" id="testimonials">
		<div class="container">
			<div class="wthree_head_section">
				<h3 class="title">小组成员</h3>
			</div>

			<div class="agile_wthree_inner_grids">
				<div class="test-agile_main_section">
					<div id="owl-demo2" class="owl-carousel">
						<div class="agile">
							<div class="test-grid">
								<div class="test-grid1">
									<div class="test-grid2">
										<img src="images/1.jpg" alt="" class="img-r">
									</div>
									<div class="test-grid2_text">
										<h4>John Warner</h4>
									</div>
									<div class="clearfix"></div>
								</div>
								<p class="para-w3-agile">Lorem ipsum dolor sit amet, consectetur adipiscing elit,consectetur adipiscing elit, sed do eiusmod tempor incididunt
									ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore etdolore magna aliqua. Ut enim ad minim
									veniam, quis. Lorem ipsum dolor .</p>
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</div>
						</div>
						<div class="agile">
							<div class="test-grid">
								<div class="test-grid1">
									<div class="test-grid2">
										<img src="images/2.jpg" alt="" class="img-r">
									</div>
									<div class="test-grid2_text">
										<h4>Steve Warner</h4>
									</div>
									<div class="clearfix"></div>
								</div>
								<p class="para-w3-agile">Lorem ipsum dolor sit amet, consectetur adipiscing elit,consectetur adipiscing elit, sed do eiusmod tempor incididunt
									ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore etdolore magna aliqua. Ut enim ad minim
									veniam, quis. Lorem ipsum dolor .</p>
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</div>
						</div>
						<div class="agile">
							<div class="test-grid">
								<div class="test-grid1">
									<div class="test-grid2">
										<img src="images/3.jpg" alt="" class="img-r">
									</div>
									<div class="test-grid2_text">
										<h4>James Warner</h4>
									</div>
									<div class="clearfix"></div>
								</div>
								<p class="para-w3-agile">Lorem ipsum dolor sit amet, consectetur adipiscing elit,consectetur adipiscing elit, sed do eiusmod tempor incididunt
									ut labore et dolore magna aliqua sed do eiusmod tempor incididunt ut labore etdolore magna aliqua. Ut enim ad minim
									veniam, quis. Lorem ipsum dolor .</p>
								<i class="fa fa-quote-left" aria-hidden="true"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- //agile_testimonials -->

<script>
function validateForm() {
    var x = document.forms["myForm"]["date"].value;
    if (x == null || x.indexOf('月') === -1) {
        alert("请选择出发日期。");
        return false;
    }
	x = document.forms["myForm"]["time"].value;
	if (x == null || x.indexOf('分') === -1) {
        alert("请选择出发时间。");
        return false;
    }
}
</script>s

<!-- js -->
<script type="text/javascript" src={% static 'cp1/js/jquery-2.1.4.min.js' %}></script>
<!-- //js -->

<!-- Stats-Number-Scroller-Animation-JavaScript -->
<script src="{% static 'cp1/js/waypoints.min.js' %}"></script> 
<script src="{% static 'cp1/js/counterup.min.js' %}"></script> 
<script>
	jQuery(document).ready(function( $ ) {
		$('.counter').counterUp({
			delay: 10,
			time: 1000 
		});
	});
</script>

<!-- requried-jsfiles-for owl -->	<!-- testimonials -->
	<script src="{% static 'cp1/js/owl.carousel.js' %}"></script>
	<script>
		$(document).ready(function () {
			$("#owl-demo2").owlCarousel({
				items: 1,
				lazyLoad: false,
				autoPlay: true,
				navigation: false,
				navigationText: false,
				pagination: true,
			});
		});
	</script>
<!-- //requried-jsfiles-for owl -->	<!-- //testimonials -->

<!-- //Stats-Number-Scroller-Animation-JavaScript -->
<script type="text/javascript" src="{% static 'cp1/js/move-top.js' %}"></script>
	<script type="text/javascript" src="{% static 'cp1/js/easing.js' %}"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>

    <!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});
	</script>	
<!-- for banner js file-->
<script src="{% static 'cp1/js/poposlides.js' %}"></script>
	<script>
		$(".slides").poposlides();
	</script>
<!-- //for banner js file-->
		
<!-- for bootstrap working -->
	<script src="{% static 'cp1/js/bootstrap.js' %}"></script>
<!-- //for bootstrap working -->

</body>
</html>